#header {
	margin-top: 0px;
}

#footer {
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: 1px solid #eeeeee;
	padding-top: 15px;
	color: #777777;
}

.logo-expanded {
	padding-top: 10px;
	height: 160px;
}

.page-header {
	margin-top: 0px;
}

.hat {
	margin-top: 35px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar {
    text-align: center;
}

.navbar-subcat {
	margin-top: 25px;
	margin-bottom: 12.5px;
}

.navbar-subcat > ul {
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-nav > li > a {
	font-size: 18px;
	line-height: 30px;
}

.navbar-nav > li > a::after, .navbar-nav > li > a::before {
	display: block;
	content: "";
	border-bottom: 4px solid lighten(@brand-primary, 10%);
	width: 0%;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	margin: 0 auto;
}

.navbar-nav > li > a:hover::after, .navbar-nav > li > a:hover::before {
	width: 100%;
}

.navbar-nav > li.active > a::after, .navbar-nav > li.active > a::before {
	width: 100%;
}

.thumbnail {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.thumbnail:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.msf-card {
    display: block;
    padding: 4px;
    margin-bottom: 25px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.row-expand {
	margin-left: 0px;
	margin-right: 0px;
}

button.close {
	margin-top: 5px;
	margin-right: 10px;
}

.product-list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style: none;
	padding-left: 0px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 768px) {
	.product-list {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}

	.row.msf-card {
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
	}
}

table {
	margin-bottom: 14px;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

.btn.btn-primary {
	font-size: 16px;
}

#address {
	height: 36px;
	width: 75%;
}