extends ../layouts/default

block content
	.container
		h1.page-header.text-center About Mid-South Feeds
		p.
			Mid-South Feeds, Inc. has been manufacturing quality products in Alma,
			Georgia since 1991. Since the beginning, superior quality has been
			our vision. We are determined to offer only the best products for
			cattle, horses, poultry, gamebirds, specialty, and pets.
		p(style="margin-bottom: 0px;").
			Our commitment is to ensure our customers that we deliver what they
			need to be successful. We will not settle for "good." We will
			continue to thrive as a leader in the development and manufacturing
			of animal nutrition products. With our passion for quality and customers
			success, our mission is to promote animal health and performance through
			advanced nutrition.
		img.img-responsive(src="/images/mid-south-article.png", style="margin: auto; padding-top: 28px;")