extends ../layouts/default

block content
    .container
        .row
            .col-md-12.col-sm-12: h1.page-header.text-center= subcategory.name
        .row
            .col-md-12.col-sm-12: div.text-center!= subcategory.description
        .row
            .navbar.navbar-default.navbar-subcat(role="navigation", style="margin-top: 15px; margin-bottom: 40px;")
                ul.nav.navbar-nav
                    each subcat in category.categories
                        li(class=(subsection == subcat.name ? 'active' : null)): a(href="/" + category.name + "/" + encodeURI(subcat.name))= subcat.name
        
        if productLines.length
            each productLine in productLines
                if productLine.products.length
                    .row.msf-card
                        if (productLine.bagImage.filename)
                            .col-md-2.col-sm-2: img.img-responsive(src="/images/uploads/" + productLine.bagImage.filename, style="margin: auto; border: solid 1px;")
                        else
                            .col-md-2.col-sm-2
                        .col-md-10.col-sm-10
                            h3= productLine.name
                            ul.product-list
                                each product in productLine.products
                                    li: a(href="/p/" + category.name + "/" + product.key)= product.name
        else
            each product in products
                a(href="/p/" + category.name + "/" + product.key, style="color: inherit;")
                    .row.msf-card
                        if (product.bagImage.filename)
                            .col-md-2.col-sm-2: img.img-responsive(src="/images/uploads/" + product.bagImage.filename, style="margin: auto; border: solid 1px;")
                        else
                            .col-md-2.col-sm-2
                        .col-md-10.col-sm-10
                            h3= product.name
                            p= product.description